##### Implement a single perceptron for the Iris dataset and utilize GridSearchCV for hyperparameter tuning.

In [18]:
import pandas as pd
import numpy as np

In [19]:

dataset1=pd.read_csv('/Users/sharvarisoparkar/Downloads/IRIS.csv')

In [20]:
dataset1.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [21]:

dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [22]:

dataset1.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [23]:
dataset1.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [24]:
dataset1

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [25]:
typeofiris = dataset1["species"].value_counts()
print(typeofiris)

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [26]:
dataset1['species'].replace({'Iris-setosa':0,'Iris-versicolor':1,'Iris-virginica':2},inplace=True)

In [27]:

target= dataset1['species'] #dependent variable
target

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [28]:
dataset1 = dataset1.drop('species',axis='columns')

dataset1

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [29]:
dataset1['sepal_length']= dataset1['sepal_length'].astype(float)
dataset1['sepal_width']= dataset1['sepal_width'].astype(float)
dataset1['petal_length']= dataset1['petal_length'].astype(float)
dataset1['petal_width']= dataset1['petal_width'].astype(float)

In [30]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(dataset1,target,test_size=0.3)

In [31]:

class Perceptron:
  def __init__(self,lr_rate,epochs):
    self.weights=None
    self.bias=None
    self.lr_rate = lr_rate
    self.epochs = epochs

  def activation(self,z):
      return np.heaviside(z,0)

  def fit(self,X,y):
      n_samples,n_features = X.shape
      self.weights = np.zeros(n_features)
      self.bias = 0

      for epoch in range (self.epochs):
          for i in range(n_samples):
              # z=np.dot(X.iloc[i], self.weights)+self.bias
              # y_pred = self.activation(z)
              z = np.dot(X.iloc[i], self.weights) + self.bias
              y_pred = self.activation(z)

              #updating weights and bias
              self.weights += self.lr_rate*(y.iloc[i]-y_pred)*X.iloc[i]
              self.bias += self.lr_rate*(y.iloc[i]-y_pred)

  def predict(self,X):
      z = np.dot(X,self.weights +self.bias)
      return self.activation(z)

In [32]:
perceptron = Perceptron(0.01,15)
perceptron.fit(x_train,y_train)

In [33]:
pred =perceptron.predict(x_test)

In [34]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)
from sklearn.metrics import classification_report
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        18
           1       0.33      1.00      0.50        15
           2       0.00      0.00      0.00        12

    accuracy                           0.33        45
   macro avg       0.11      0.33      0.17        45
weighted avg       0.11      0.33      0.17        45

/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/sharvarisoparkar/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))